html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body::-webkit-scrollbar {
	display: none;
}

body {
	color: black;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}